.authentication{
  color: #28a745;
  font-weight:normal;
  text-decoration: green;
}
.error
{
  color:red;
  font-weight:normal;
}
.profile_img
{
  width: 104px;
    height: 104px;
    background: #f0f0f0;
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
}